{{ define "main" }}
  <section class="page-content">
    {{ with .Content }}<div class="article">{{ . }}</div>{{ end }}
    <ul class="page-list">
      {{ range .Pages.ByDate.Reverse }}
        <li>
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          {{ if eq .Section "blog" }}
            <time class="page-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006/01/02 15:04" }}</time>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
